*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

div.logo{
    display: flex;
}

footer div{
    text-align: center;
}

section.container{
    width: 800px;
    height: 800px;
    margin: 0 auto;
    background-color: greenyellow;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.square{
    width: calc(100% / 10 ) ;
    height: calc(100% / 10);
    background-color: chartreuse;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    background-color: azure;
}

span{
    color: black;
    font-size: 25px;
}

span.numbers{
    color: magenta
}